NPM_BIN_PATH="C:\Program Files\nodejs\npm.cmd"
# Unix: NPM_BIN_PATH="/usr/local/bin/npm"

SECRET_KEY='your-secret-key-here'
DEBUG=True

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_API_KEY=''

JITSI_MAGIC_COOKIE=''
SRI_HASH=''

JWT=''

EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=''
