[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-crispy-forms = "*"
crispy-tailwind = "*"
pillow = "*"
python-decouple = "*"
django-extensions = "*"
markdown = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
pyjwt = "*"
authlib = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
cloudinary = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.12"
