{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}LMS{% endblock head_title %}
    </title>
    {% block extra_head %}{% endblock extra_head %}
    {% tailwind_css %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen flex flex-col">

    {% include 'includes/header.html' %}

    {% if messages %}
        <div class="mx-auto">
            {% for message in messages %}
                <div role="alert" class="alert alert-info">
                    <span>{{ message | safe }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Layout structure based on URL -->
    <div class="flex flex-grow">
        {% if '/lecture' in request.path %}
            <!-- Sidebar only for lecture pages -->
            <aside class="sm:w-[20%] bg-gray-900 text-white p-4 min-h-screen">
                {% include 'lecture/sidebar.html' %}
            </aside>
            <main class="w-[85%] p-4">
        {% else %}
            <main class="w-full p-4">
        {% endif %}

            {% block main_content %}{% endblock main_content %}

        </main>
    </div>

    {% include 'includes/footer.html' %}

</body>
</html>
