{% extends 'lecturebase.html' %}
{% load static %}

{% block lecture_content %}
    

                <!-- Main Content with Responsive Layout -->
                <main class="flex flex-col lg:flex-row flex-grow overflow-auto">
                    <!-- Center Content Area -->
                  

                    <!-- Right Sidebar - Live Classes Section -->
                   
                </main>
            </div>

            <!-- Left Sidebar -->
      
{% endblock lecture_content %}

