<h2>Live Classes for {{ course.title }}</h2>
{% for live_class in live_classes %}
    <p><strong>{{ live_class.topic }}</strong> ({{ live_class.scheduled_at }})</p>
    {% if teacher %}
    <a href="{{ live_class.get_meeting_url_teacher }}">Join Class</a>
    {% else %}
    <a href="{{ live_class.get_meeting_url_student }}">Join Class</a>
    {% endif %}
{% empty %}
    <p>No live classes scheduled.</p>
{% endfor %}
{% if request.user.role == "teacher" %}
    <a href="{% url 'create_live_class' course.id %}">Schedule a Live Class</a>
{% endif %}
