{% extends 'dashboard.html'%}
{% load static %}
{% load courses_tags %}

{% block dashboard_content %}
<body class="bg-white text-black">
    <div class="max-w-6xl mx-auto p-6">
        <h1 class="text-3xl font-semibold mb-4">Published Course</h1>
        

        <div class="bg-gray-100 p-4 rounded-lg">
            <div class="grid grid-cols-6 text-gray-600 text-sm border-b border-gray-300 pb-2 mb-2">
                <span class="col-span-2">Course</span>
                
                <span>Price</span>
                <span class="text-right">Enrollments</span>
            </div>


            {% for course in courses %}
            <div class="grid grid-cols-6 items-center text-black py-2 border-b border-gray-300">
                <div class="flex items-center space-x-3 col-span-2">
                    <img src="{{ course.course_image.url }}" alt="Thumbnail" class="w-20 h-12 object-cover rounded">
                    <a href="{% url 'lecture_home' course.slug %}"
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <div>
                            <p class="text-sm font-semibold">{{ course.title }} </p>
                            <p class="text-xs text-gray-600">{{ course.short_introduction }}</p>
                        </div>
                    </a>
                </div>
                
                <span class="text-gray-600">{{ course.course_price }}</span>
                <span class="text-gray-600 text-right">
                    <a href="{% url 'teacher_dashboard_enrollments' course.slug %}"
                    class="link link-primary">
                    {{ course.get_total_enrollments }}
                    </a>
                </span>
                <span class="text-gray-600 text-right"><a href="{% url 'edit_course' %}?slug={{ course.slug }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">edit</a></span>

            </div>
            {% endfor %}



        </div>
    </div>
</body>
{% endblock dashboard_content %}