{% extends "accounts/account/base_manage_password.html" %}
{% load allauth i18n %}
{% load crispy_forms_filters %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="card w-full max-w-md bg-base-100 shadow-xl">
        <div class="card-body">
            <h1 class="card-title text-2xl font-bold text-center">{% trans "Change Password" %}</h1>

            {% url 'account_change_password' as action_url %}
            {% element form form=form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    <div class="form-control mt-6">
                        {% element button type="submit" class="btn-accent" %}
                            {% trans "Change Password" %}
                        {% endelement %}
                    </div>
                {% endslot %}
            {% endelement %}
            <div class="text-center mt-4">
                <a href="{% url 'account_reset_password' %}"
                   class="link link-primary">{% trans "Forgot Password?" %}</a>
            </div>

        </div>
    </div>
{% endblock content %}

{% block extra_body %}
{% endblock %}
