{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_filters %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% if token_fail %}
        <h1 class="card-title text-2xl font-bold text-center mb-4">
            {% trans "Bad Token" %}
        </h1>
    {% else %}
        <h1 class="card-title text-2xl font-bold text-center mb-4">
            {% trans "Change Password" %}
        </h1>
    {% endif %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                request a <a class="link link-primary" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% element form form=form method="post" action=reset_url %}
            {% slot body %}
                {% csrf_token %}
                {{ form|crispy }}
            {% endslot %}
            {% slot actions %}
                <div class="form-control mt-6">
                    {% element button type="submit" class="btn-accent" %}
                        {% trans 'Reset My Password' %}
                    {% endelement %}
                </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}
