{% extends 'base.html' %} {% block main_content %}
<div class="w-[100%] flex">
  
  <div class="w-[85%] m-3">
    <div class="collapse collapse-arrow m-2">
      <input type="checkbox" />
      <div class="collapse-title text-xl font-medium border">
       {{classroom.title}}
      </div>
      <div class="collapse-content border p-6">
        <p class="text-sm my-3">
         {{classroom.short_introduction}}
        </p>
        <!-- {% for lecture in lecture_detail %}
        <div class="collapse collapse-arrow">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium border">
                {% if lecture.title %}
                    {{ lecture.title }}
                {% else %}
                    No Title Available
                {% endif %}
            </div>
            <div class="collapse-content border p-6">
              <p>
                <a href="{{ lecture.pdf_file.url }}" target="_blank" class="text-blue-500">Download PDF</a>
            </p>
            </div>
        </div>
    {% empty %}
        <p>No lectures found.</p>
    {% endfor %} -->
    
      </div>
    </div>
    <a href="">
      <button class="btn btn-primary">Add Lecture</button>
    </a>
    
  </div>
  
</div>
{% endblock main_content %}
